.board {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.cell {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.tile-0 {
  width: 100%;
  height: 100%;

  background-image: url('../img/path.png');
  background-size: contain;
}

.tile-1 {
  width: 100%;
  height: 100%;

  background-image: url('../img/grass.png');
  background-size: contain;
}
